@import url(./fonts.css);

*{
    font-family: 'Manrope-Medium', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a{
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* SECTION NAVIGATION */

header .section-navigation .section-navigation-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
    height: 50px;
}

header .section-navigation .section-navigation-1 .icons-1{
    width: 80px;
    display: flex;
    justify-content: space-between;
}

header .section-navigation .section-navigation-1 .icons-2{
    width: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

header .section-navigation .section-navigation-1 .title p{
    font-size: 25px;
}

header .section-navigation .section-navigation-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 50px;
}

header .section-navigation .section-navigation-2 .text{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#p-en{
    color: rgb(185, 183, 183);
}

/* SECTION INFO */

header .section-info{
    margin-top: 100px;
    margin-bottom: 200px;
}

header .section-info .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

header .section-info .container .info-1{
    display: flex;
    justify-content: space-between;
}

header .section-info .container .info-2{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

header .section-info .container .info-1 .p-1{
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-content: end;
    height: 140px;
    font-size: 156px;
}

header .section-info .container .info-1 .cont{
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
}

#p-2{
    width: 20%;
    align-self: flex-end;
}

header .section-info .container .info-2 .img-1{
    width: 75%;
}

header .section-info .container .info-2 .img-2{
    width: 20%;
}

/* SECTION CATEGORY */

main .section-category{
    margin-top: 350px;
    margin-bottom: 200px;
}

main .section-category .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .section-category .container .text{
    font-size: 80px;
    margin-bottom: 40px;
}

main .section-category .container .cards{
    display: flex;
    justify-content: space-between;
}

main .section-category .container .cards .card p{
    font-size: 20px;
}

/* SECTION COLLECTION */

main .section-collection{
    background-image: url(../img/6.jpg);
    margin-top: 200px;
    height: 700px;
}

main .section-collection .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-collection .container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 60%;
    color: white;
}

main .section-collection .container .text .p-1{
    font-size: 70px;
}

main .section-collection .container .text .p-2-2{
    width: 73%;
}

main .section-collection .container .text .p-2{
    font-size: 18px;
    text-align: center;
}

main .section-collection .container .text button{
    margin-top: 30px;
    height: 50px;
    width: 200px;
}

/* SECTION NEW SEZON */

main .section-new_sezon{
    margin-top: 150px;
}

main .section-new_sezon .container .photos{
    display: flex;
    justify-content: space-between;
}

main .section-new_sezon .container .text{
    display: flex;
    flex-direction: column;
}

main .section-new_sezon .container .text .p-2{
    align-self: flex-end;
}

main .section-new_sezon .container .photos .photo-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .section-new_sezon .container .photos p{
    font-size: 20px;
}